body {
	max-width: 1200px;
	margin: auto;
	background-color: floralwhite;
}
.wapen {
  background-repeat: no-repeat;
  background-size: 200px 200px;
}
.allesbehalvevloer {
	max-width: 800px;
	margin: auto;
}
.naam {
	font-size: 56px;
	font-family: IM Fell English SC;
	text-shadow: 4px 3px dimgray;
	margin-bottom: 2px;
}
a.balklink {
	margin-left: 64px;
	margin-right: 64px;
}
div.gallerij {
	margin: 0px;
	/*border: 12px ridge deeppink;*/
	float: left;
	width: 400px;
}
div.gallerij:hover {
	/*border: 12px ridge darkgreen;*/
}
div.gallerij img {
	width: 100%;
	height: auto;
}
div.vloer {
	width: 1000px;
	margin: auto;
}
p, a {
	font-size: 18px;
}
h6 {
	font-size: 18px;
	font-family: silkscreen;
}